<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="superhero" is="dmx-app" id="main" appconnect="local" components="{dmxBootbox:{}}" -->
<script is="dmx-flow" id="logincheck" type="text/dmx-flow" autorun>{
  condition: {
    if: "{{user.data.jwt}}",
    then: {
      steps: {
        run: {action: "{{browser_home.goto('/home')}}", name: "gohome"}
      }
    }
  }
}</script>
<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="main. appconnect="local" components="{dmxBootbox:{}}" -->
<script is="dmx-flow" id="dologin" type="text/dmx-flow"></script>
<div class="d-flex text-primary useh100 flex-column loginbgimg">
  <div class="d-flex col align-items-center justify-content-center">
    <div class="row homebox">
      <div class="col shadow-lg p-3 mb-5 regbox">
        <div class="row">
          <div class="col">
            <a href="/login" class="btn btn-block btn-success" internal id="btn_login">Login</a></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <a href="/register" class="btn btn-primary btn-block" internal id="btn_reg">Register</a></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <a href="/register_confirm" class="btn btn-primary btn-block" internal id="btn_reg_confrim">Register and confirm email</a></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <a href="/register_activate" class="btn btn-primary btn-block" internal>Register needs approval</a></div>
        </div>



      </div>
    </div>
  </div>
</div>
<meta name="ac:route" content="/">