<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="myjams" appConnect="local" -->
<meta name="ac:route" content="/myjams">
<div class="container wappler-block pt-4 pb-4">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h3>My Jams<br><small class="text-muted">With faded secondary text</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-12 mb-3 col-sm-12 col-md-4 col">
            <img class="wappler-type-picture mb-3 w-100">
            <h5>Fancy display heading</h5>
            <p>A nice paragraph</p>
        </div>
        <div class="text-center col-12 mb-3 col-sm-12 col-md-4 col">
            <img class="wappler-type-picture mb-3 w-100">
            <h5>Fancy display heading</h5>
            <p>A nice paragraph</p>
        </div>
        <div class="text-center col-12 mb-3 col-sm-12 col-md-4 col">
            <img class="wappler-type-picture mb-3 w-100">
            <h5>Fancy display heading</h5>
            <p>A nice paragraph</p>
        </div>
    </div>
</div>