<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="profile" appConnect="local" -->
<meta name="ac:route" content="/profile">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Profile Page</h1>
        </div>
    </div>
</div>